@model IEnumerable<WorkFlowSpy.Models.TaskViewModel>

@{
    ViewBag.Title = "Tasks report";
}

<h2>Tasks report</h2>

<p>
    @Html.ActionLink("Create New", "Diagram")
</p>


@using (Ajax.BeginForm("TasksReport", new AjaxOptions { UpdateTargetId = "reportTable" }))
{
    <p>
        <label class="control-label">Holder: </label>
        @Html.DropDownList("Holder", new SelectList(new string[] { "1", "2", "3", "4" }), "All",
                       htmlAttributes: new { @class = "btn btn-default dropdown-toggle", style = "width: 100px;" })
        <label class="control-label" style="margin-left:20px">Project: </label>
        @Html.DropDownList("Project", new SelectList((string[])ViewBag.ProjectList), "All",
                  htmlAttributes: new { @class = "btn btn-default dropdown-toggle", style = "width: 100px; " })
        <input type="submit" value="Filter" class="btn btn-default" style="margin-left:20px" />
    </p>
}

@{
    Html.RenderPartial("TasksReportPartial", Model);
}